/*
0-600px:     Phone;
600-900px:   Tablet portrait;
900-1200px:  Tablet landscape;
[1200-1800px]: Desktop;
1800px + :   Big desktop;


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px (in @media queries)
*/
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromLeftWithOpacity {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: .8;
    transform: translateX(0); } }

@keyframes moveFromBottomWhenCentered {
  0% {
    opacity: 0;
    transform: translate(-50%, 10%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveFromTopWhenCentered {
  0% {
    opacity: 0;
    transform: translate(-50%, -90%); }
  100% {
    opacity: 1;
    transform: translateY(50%, -50%); } }

@keyframes moveFromTopForHeaderOnPhone {
  0% {
    opacity: 0;
    transform: translate(50%, -90%); }
  100% {
    opacity: 1;
    transform: translateY(50%, -50%); } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

.row-flex {
  display: flex;
  flex-wrap: wrap; }
  .row-flex--center {
    justify-content: center; }

::selection {
  background-color: #fc7279; }

a {
  text-decoration: none;
  color: #333030; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333030; }

h1 {
  color: #ed1c24;
  font-size: 3.8rem;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right; }
  @media only screen and (max-width: 75em) {
    h1 {
      font-size: 3rem; } }

.heading-primary__special {
  font-size: 4.8rem;
  letter-spacing: .3rem;
  border-bottom: 2px solid #ed1c24;
  padding-bottom: 1.8rem; }
  @media only screen and (max-width: 75em) {
    .heading-primary__special {
      font-size: 4rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ed1c24; } }

.heading-primary--big {
  font-size: 5.5rem; }

h2 {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase; }
  h2--white {
    color: #fff; }
  @media only screen and (max-width: 56.25em) {
    h2 {
      font-size: 3.5rem; } }

h3 {
  color: #ed1c24;
  font-size: 3rem;
  font-weight: 300; }
  @media only screen and (max-width: 37.5em) {
    h3 {
      font-size: 2.5rem; } }

h4 {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 300; }
  @media only screen and (max-width: 56.25em) {
    h4 {
      font-size: 3.2rem; } }

h5 {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 300; }

h6 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400; }

.paragraph {
  font-size: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      margin: 0rem 1rem; } }

.u-center-text {
  text-align: center !important; }

.u-border-small {
  border-bottom: 1px solid #ed1c24 !important; }

.u-margin-top-tiny {
  margin-top: 1rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }
  @media only screen and (max-width: 75em) {
    .u-margin-top-small {
      margin-top: 1rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-auto {
  margin-top: auto !important; }

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 7rem !important; }

.flex--align-items {
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .flex--align-items {
      flex-direction: column; } }

@media only screen and (max-width: 56.25em) {
  .flex--switch-direction {
    flex-direction: column-reverse; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--default {
  font-size: 1.6rem;
  padding: 1.5rem 4rem; }

.btn--small {
  font-size: 1.6rem;
  padding: .8rem 2rem; }
  @media only screen and (max-width: 75em) {
    .btn--small {
      font-size: 1.2rem;
      padding: .3rem 1.2rem; } }

.btn--tiny {
  font-size: 1.4rem;
  padding: .2rem 1.5rem; }

.btn--red {
  color: #fff;
  background-color: #ed1c24; }

.btn--white {
  color: #ed1c24;
  background-color: #fff; }

.btn--white-grey {
  color: #8b8687;
  background-color: #fff; }

.scroll-up {
  position: fixed;
  z-index: 9999;
  bottom: 2rem;
  right: 2rem;
  border: 0.6rem solid #333030;
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .scroll-up {
      width: 5rem;
      height: 5rem;
      border: 0.6rem solid #333030; } }
  @media only screen and (max-width: 56.25em) {
    .scroll-up {
      bottom: 1.5rem;
      right: 1.5rem;
      width: 5rem;
      height: 5rem;
      border: 0.5rem solid #333030; } }
  @media only screen and (max-width: 37.5em) {
    .scroll-up {
      width: 4.5rem;
      height: 4.5rem;
      border: 0.5rem solid #333030; } }
  .scroll-up__icon {
    font-size: 4rem; }
    @media only screen and (max-width: 75em) {
      .scroll-up__icon {
        font-size: 3.6rem; } }
    @media only screen and (max-width: 56.25em) {
      .scroll-up__icon {
        font-size: 3.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .scroll-up__icon {
        font-size: 3.4rem; } }

.service-box {
  display: flex;
  width: 50%;
  min-width: 45rem;
  margin-bottom: 6rem;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .service-box {
      min-width: 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .service-box {
      width: 100%;
      justify-content: center;
      align-items: center; }
      .service-box:not(:last-child) {
        margin-bottom: 4rem; }
      .service-box:last-child {
        margin-bottom: 0; } }
  .service-box__img-field {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .service-box__img {
    width: 12rem;
    height: 12rem;
    border-radius: 10rem;
    background-image: linear-gradient(to right bottom, #fc7279, #f94952);
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .service-box__img {
        width: 10rem;
        height: 10rem; } }
  .service-box__icon {
    display: block;
    font-size: 6.6rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 75em) {
      .service-box__icon {
        font-size: 5.8rem; } }
  .service-box__text-field {
    margin: 0 5rem 0 1rem;
    width: 100%;
    padding-bottom: .5rem; }
    @media only screen and (max-width: 37.5em) {
      .service-box__text-field {
        margin: 0 1rem; } }
  .service-box__link:link, .service-box__link:visited {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    color: #333030;
    transition: all .2s; }
    @media only screen and (max-width: 75em) {
      .service-box__link:link, .service-box__link:visited {
        font-size: 1.7rem; } }
  .service-box__link:hover, .service-box__link:active {
    background-image: linear-gradient(to right bottom, #fc7279, #f94952);
    -webkit-background-clip: text;
    color: transparent; }

.jumping-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  border-radius: .6rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin: 0 2rem 5rem 2rem;
  transition: all .2s; }
  @media only screen and (max-width: 75em) {
    .jumping-card {
      width: 180px; } }
  @media only screen and (max-width: 56.25em) {
    .jumping-card {
      width: 150px;
      margin: 0 auto 5rem auto; } }
  @media only screen and (max-width: 37.5em) {
    .jumping-card {
      width: 200px; }
      .jumping-card:last-child {
        margin-bottom: 0; } }
  .jumping-card:hover {
    transform: translateY(-1rem);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2); }
  .jumping-card--red {
    background-image: linear-gradient(to right bottom, #fc7279, #f94952); }
  .jumping-card--grey {
    background-image: linear-gradient(to right bottom, #a3a1a1, #8b8687); }
  .jumping-card__img-box {
    margin-bottom: auto; }
  .jumping-card__img {
    height: 15rem;
    border-radius: 50%;
    margin: 2.5rem 2.5rem 1.5rem 2.5rem; }
  .jumping-card__icon-box {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin: 2.5rem 2.5rem 1.5rem 2.5rem;
    background-color: #fff;
    position: relative; }
  .jumping-card__icon {
    font-size: 9rem;
    color: #8b8687;
    display: block;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .jumping-card__text-box {
    padding: 0 2rem 2.5rem 2rem;
    text-align: center; }
  .jumping-card__text, .jumping-card__text:link, .jumping-card__text:visited {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10rem;
    transition: all .2s; }
  .jumping-card__text:hover, .jumping-card__text:active {
    border: 1px solid #fff; }
  .jumping-card__name {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #fff; }

.workdays__container {
  display: flex;
  padding: 0 3rem;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .workdays__container {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 37.5em) {
    .workdays__container {
      padding: 0 1rem; } }

.workdays__day {
  background-image: linear-gradient(to bottom, #a3a1a1, #8b8687);
  margin: 0 1rem 3rem 1rem;
  width: 14rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .workdays__day {
      width: 12%; } }
  @media only screen and (max-width: 56.25em) {
    .workdays__day {
      width: 12rem; } }
  @media only screen and (max-width: 37.5em) {
    .workdays__day {
      width: 9rem;
      margin-bottom: 1rem; } }

.workdays__letter {
  color: #8b8687;
  font-size: 6rem;
  line-height: 1.6;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 2rem; }
  @media only screen and (max-width: 75em) {
    .workdays__letter {
      font-size: 4.5rem;
      width: 7rem;
      height: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .workdays__letter {
      font-size: 3rem;
      width: 5rem;
      height: 5rem;
      margin: 1rem; } }

.workdays__hours {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 75em) {
    .workdays__hours {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .workdays__hours {
      margin-bottom: 1rem; } }

.google-map {
  width: 100%;
  height: 45rem; }

.price-list {
  list-style: none; }
  .price-list__item {
    background-image: linear-gradient(120deg, #fff 0%, #fff 80%, #fc7279 80%, #f94952 100%);
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .price-list__item:not(:last-child) {
      margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .price-list__item {
        background-image: linear-gradient(120deg, #fff 0%, #fff 75%, #fc7279 75%, #f94952 100%); } }
    @media only screen and (max-width: 37.5em) {
      .price-list__item {
        background-image: linear-gradient(110deg, #fff 0%, #fff 70%, #fc7279 70%, #f94952 100%); } }
  .price-list__text {
    flex: 0 0 77%;
    margin: 2rem 0 2rem 4rem;
    font-size: 1.6rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .price-list__text {
        flex: 0 0 70%; } }
    @media only screen and (max-width: 37.5em) {
      .price-list__text {
        flex: 0 0 65%;
        margin: 2rem 0 2rem 2rem; } }
  .price-list__price {
    flex: 1;
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
    color: #fff; }

.logo__logo-box {
  position: absolute;
  display: inline-block;
  height: 61vh;
  z-index: 1;
  top: -3vh;
  left: 47%;
  transform: translate(-50%); }
  @media only screen and (max-width: 75em) {
    .logo__logo-box {
      height: 58vh;
      top: 2vh; } }
  @media only screen and (max-width: 56.25em) {
    .logo__logo-box {
      left: 38%;
      height: 35vh;
      top: -1.5vh; } }
  @media only screen and (max-width: 37.5em) {
    .logo__logo-box {
      height: 14rem;
      left: -1rem;
      top: -1.5rem;
      z-index: 800;
      transform: none; } }

.logo--homepage {
  opacity: .25;
  height: 110%;
  transform: translateY(-3%) rotate(20deg); }
  @media only screen and (max-width: 56.25em) {
    .logo--homepage {
      height: 250%;
      position: absolute;
      top: -1rem;
      left: -1.5rem;
      transform: rotate(10deg); } }
  @media only screen and (max-width: 37.5em) {
    .logo--homepage {
      height: 180%;
      top: -.5rem;
      left: -1rem;
      transform: rotate(10deg); } }

.logo--header {
  opacity: .3;
  height: 100%; }

.logo--red {
  width: 100%;
  opacity: .9; }

.logo--animated {
  animation-name: moveFromLeftWithOpacity;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  .logo--animated:hover, .logo--animated:active {
    transform: scale(); }

.nav-header {
  position: absolute;
  bottom: 0;
  z-index: 2; }
  @media only screen and (max-width: 37.5em) {
    .nav-header {
      display: none; } }
  .nav-header__list {
    list-style: none; }
  .nav-header__item {
    float: left;
    text-align: center; }
    .nav-header__item:not(:first-child) {
      margin-left: 5rem; }
      @media only screen and (max-width: 75em) {
        .nav-header__item:not(:first-child) {
          margin-left: 3rem; } }
    .nav-header__item:first-child {
      margin-left: 4rem; }
  .nav-header__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #333030;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: .3rem;
    border-bottom: 4px solid transparent;
    transition: all .2s; }
    .nav-header__link:hover, .nav-header__link:active {
      color: #ed1c24;
      border-bottom: 4px solid transparent; }
    .nav-header__link--activated {
      color: #ed1c24;
      border-bottom: 4px solid #ed1c24; }
    @media only screen and (max-width: 75em) {
      .nav-header__link {
        font-size: 1.6rem; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 9999; }
  .sticky__link {
    margin-top: .5rem; }
    .sticky__link:hover, .sticky__link:active {
      color: #ed1c24; }

.nav-footer {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .nav-footer {
      flex-direction: column; } }
  .nav-footer__item {
    display: inline-block;
    list-style: none;
    transition: all .2s; }
    .nav-footer__item:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .nav-footer__item:not(:last-child) {
          margin-right: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .nav-footer__item:not(:last-child) {
          margin-right: 0; } }
    .nav-footer__item--icon:not(:last-child) {
      margin-right: 2rem !important; }
      @media only screen and (max-width: 37.5em) {
        .nav-footer__item--icon:not(:last-child) {
          margin-right: 0 !important; } }
    .nav-footer__item:hover, .nav-footer__item:active {
      transform: scale(1.1); }
    .nav-footer__item--icon:hover, .nav-footer__item--icon:active {
      transform: scale(1.2); }
  .nav-footer__link:link, .nav-footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #333030;
    font-size: 1.6rem;
    transition: all .2s; }
  .nav-footer__link--icon:link, .nav-footer__link--icon:visited {
    font-size: 2rem !important; }

.nav-phone {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: #000; }
  .nav-phone__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .nav-phone__item:not(:last-child) {
    margin-bottom: 2rem; }
  .nav-phone__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px; }
  .nav-phone__icon-box {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(139, 134, 135, 0.6);
    text-align: center;
    z-index: 999; }
    @media only screen and (max-width: 37.5em) {
      .nav-phone__icon-box {
        display: inline-block; } }
    .nav-phone__icon-box--close {
      position: absolute;
      top: 2rem;
      right: 2rem; }
  .nav-phone__icon {
    font-size: 25px;
    color: #333030;
    transform: translateY(7px); }
    .nav-phone__icon--close {
      font-size: 35px;
      color: #fff; }

.popup {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  transform: translateX(-2rem);
  z-index: 10000; }
  @media only screen and (max-width: 56.25em) {
    .popup {
      transform: translateX(-1.5rem); } }
  @media only screen and (max-width: 37.5em) {
    .popup {
      transform: none; } }
  .popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 75em) {
      .popup__container {
        width: 80%; } }
    @media only screen and (max-width: 56.25em) {
      .popup__container {
        width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .popup__container {
        height: fit-content;
        max-height: 90%;
        padding: 2rem 0; } }
    .popup__container--person {
      display: flex;
      width: 60%; }
      @media only screen and (max-width: 75em) {
        .popup__container--person {
          width: 80%; } }
      @media only screen and (max-width: 56.25em) {
        .popup__container--person {
          width: 90%;
          height: 50%; } }
      @media only screen and (max-width: 37.5em) {
        .popup__container--person {
          height: fit-content;
          max-height: 90%;
          display: block; } }
  .popup__close-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #8b8687; }
    @media only screen and (max-width: 37.5em) {
      .popup__close-icon {
        top: 1rem; } }
  .popup__img-container {
    width: 40%;
    background-image: url(../../img/doctor-big-f-1.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .popup__img-container {
        display: none; } }
  .popup__img {
    height: 100%; }
  .popup__text-container {
    margin: 5rem 6rem;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .popup__text-container {
        margin: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .popup__text-container {
        display: block;
        margin: 0 2rem; } }
  .popup__text {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 3rem 3rem 3rem; }
  .popup__list {
    list-style: none;
    margin-top: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__list {
        margin-top: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .popup__list {
        width: 100%; } }
  .popup__item {
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .popup__item {
        font-size: 1.5rem; } }
    .popup__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .popup__item:not(:last-child) {
          margin-bottom: 0; } }
    .popup__item--small {
      font-size: 1.4rem;
      margin: 0 0 .5rem 2rem; }
      @media only screen and (max-width: 56.25em) {
        .popup__item--small {
          margin: 0 0 0 2rem; } }
  .popup__title {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 4rem 0; }
    @media only screen and (max-width: 37.5em) {
      .popup__title {
        margin: 2rem 0; } }
  .popup__table {
    width: 100%; }

.trigger__popup {
  cursor: pointer; }

.table__header {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 2rem;
  width: 16.5rem; }

.table__data {
  font-size: 1.6rem;
  border: 1px solid #a3a1a1; }
  .table__data--works {
    background-color: #fc7279; }

.footer {
  background-color: #e3dede;
  width: 100%;
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 10rem 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 5rem 2rem;
      flex-direction: column; } }
  .footer__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-right: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__logo-box {
        margin-right: 0;
        margin-bottom: 3rem; } }
  .footer__logo-link:link, .footer__logo-link:visited {
    text-decoration: none;
    display: inline-block;
    height: 12rem;
    width: 12rem;
    background-image: url(../img/logo-dark-grey.png);
    background-size: 100%;
    transition: all .2s; }
  .footer__logo-link:hover, .footer__logo-link:active {
    transform: scale(1.1); }
  .footer__logo {
    height: 11rem; }
  .footer__copywrite {
    color: #333030;
    font-size: 1.6rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__copywrite {
        margin: 2rem 4rem 0 4rem;
        text-align: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .row {
      width: 90%; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 6rem)) / 4) + 2 * 6rem); }

.header {
  position: relative;
  height: 55vh;
  background-size: cover;
  background-position: top;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 35rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 35rem; } }
  .header--services {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/clinic-3-min.jpg); }
  .header--about-us {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/about-us-min.jpg); }
  .header--contacts {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/contact-us.jpg); }
  .header__container {
    position: absolute;
    float: right;
    top: 0;
    right: 10rem;
    height: 83%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95));
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    animation: moveFromTop 1s ease-out; }
    @media only screen and (max-width: 75em) {
      .header__container {
        height: 78%;
        right: 7rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__container {
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__container {
        right: 50%;
        transform: translateX(50%);
        animation: moveFromTopForHeaderOnPhone 1s ease-out;
        min-width: 230px; } }
  .header__title {
    flex: 0 0 90%;
    display: flex;
    align-items: center; }
  .header__text-box {
    font-size: 2rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 75em) {
      .header__text-box {
        font-size: 1.6rem; } }
  .header__phone {
    text-decoration: none;
    font-size: 2rem;
    color: #333030; }
    @media only screen and (max-width: 75em) {
      .header__phone {
        font-size: 1.6rem; } }
  .header__icons-list {
    position: absolute;
    top: 3rem;
    right: 3.1rem;
    z-index: 2;
    animation: appear 1.5s linear; }
    @media only screen and (max-width: 75em) {
      .header__icons-list {
        top: 2rem;
        right: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__icons-list {
        width: fit-content;
        top: 29rem;
        left: 50%;
        transform: translate(-50%);
        float: left; } }
  .header__icon-item {
    list-style: none;
    display: block;
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 10rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    text-align: center;
    transition: all .2s; }
    .header__icon-item:not(:last-child) {
      margin-bottom: 2rem; }
    .header__icon-item:hover, .header__icon-item:active {
      transform: scale(1.2); }
    @media only screen and (max-width: 75em) {
      .header__icon-item {
        height: 2.8rem;
        width: 2.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__icon-item {
        display: inline-block; }
        .header__icon-item:not(:last-child) {
          margin-right: 1rem; } }
  .header__icon-link:link, .header__icon-link:visited {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333030;
    font-size: 2.3rem; }
    @media only screen and (max-width: 75em) {
      .header__icon-link:link, .header__icon-link:visited {
        font-size: 1.65rem; } }
  .header__icon-link:hover, .header__icon-link:active {
    color: #ed1c24; }

.container__photo {
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 50%;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .container__photo {
      width: 25rem;
      height: 25rem; } }
  @media only screen and (max-width: 56.25em) {
    .container__photo {
      width: 20rem;
      height: 20rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .container__photo {
      width: 15rem;
      height: 15rem;
      margin-bottom: 2rem; } }
  .container__photo--right {
    margin-left: 7rem; }
    @media only screen and (max-width: 75em) {
      .container__photo--right {
        margin-left: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .container__photo--right {
        margin-left: 0; } }
  .container__photo--left {
    margin-right: 7rem; }
    @media only screen and (max-width: 75em) {
      .container__photo--left {
        margin-right: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .container__photo--left {
        margin-right: 0; } }

.container__text {
  flex: 0 0 60%;
  text-align: center; }

.photo {
  height: 100%;
  width: auto; }

.section {
  padding: 7rem 0; }
  .section--service-doctor {
    background-color: #f3f0f0; }
  .section--achievements {
    background-color: #f3f0f0; }
  .section--map {
    padding: 0; }

.service__prices {
  margin-bottom: 0 !important; }

.contacts {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .contacts {
      flex-direction: column; } }

.contact {
  width: 35rem;
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 6px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 37.5em) {
    .contact:not(:last-child) {
      margin-bottom: 5rem; } }
  .contact--left {
    margin-right: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .contact--left {
        margin-right: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact--left {
        margin-right: 0; } }
  .contact--email {
    display: flex;
    justify-content: center;
    margin-top: 6rem; }
  .contact__text {
    width: 35rem;
    border-radius: 6px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2rem 3rem; }
  .contact__paragraph {
    text-decoration: none;
    color: #333030;
    font-size: 2rem; }
    .contact__paragraph:not(:last-child) {
      margin-bottom: 1.5rem; }
    .contact__paragraph--red {
      color: #c00711; }
  .contact__icon {
    margin-right: 2rem; }

.map {
  width: 100%;
  height: 40rem; }

.section-homepage::after {
  content: "";
  display: table;
  clear: both; }

.clinic {
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .clinic {
      background-size: cover;
      background-position: top;
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/clinic-1-min.jpg); } }
  .clinic__container {
    height: 94vh;
    width: calc((100% - 2rem) / 2);
    float: left;
    background-size: cover;
    background-position: top;
    position: relative; }
    .clinic__container:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .clinic__container:not(:last-child) {
          margin-right: 1.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .clinic__container:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .clinic__container {
        width: 100%;
        height: 30rem; } }
    .clinic__container--left {
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/clinic-1-min.jpg); }
      @media only screen and (max-width: 56.25em) {
        .clinic__container--left {
          background-image: none; } }
    .clinic__container--right {
      background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../img/clinic-2-min.jpg); }
      @media only screen and (max-width: 56.25em) {
        .clinic__container--right {
          background-image: none;
          margin-bottom: 3rem; } }
  .clinic__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.94), rgba(255, 255, 255, 0.94));
    border-radius: 3px;
    padding: 2rem 2.5rem 3rem 2.5rem;
    min-height: 265.4px;
    min-width: 329.7px;
    z-index: 3; }
    @media only screen and (max-width: 75em) {
      .clinic__text-box {
        padding: 1rem 1.5rem 2rem 1.5rem;
        min-height: 228.6px;
        min-width: 210.4px; } }
    @media only screen and (max-width: 56.25em) {
      .clinic__text-box {
        width: 30rem;
        min-height: fit-content; } }
    .clinic__text-box--left {
      animation-name: moveFromBottomWhenCentered;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: both; }
    .clinic__text-box--right {
      animation-name: moveFromTopWhenCentered;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: both; }
  .clinic__paragraph-box {
    margin-bottom: 1rem;
    padding: 0 1rem; }
    @media only screen and (max-width: 75em) {
      .clinic__paragraph-box {
        padding: 0; } }
  .clinic__icon {
    font-size: 1.8rem;
    display: inline-block;
    color: #ed1c24;
    margin-right: 1.5rem; }
  .clinic__paragraph {
    text-decoration: none;
    font-size: 1.8rem;
    color: #333030;
    display: inline-block; }

.homepage__logo-box {
  position: absolute;
  height: 94vh;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 56.25em) {
    .homepage__logo-box {
      position: relative;
      height: 11rem;
      z-index: 3; } }
