//COLORS
$color-white: #fff;
$color-black: #000;

$color-red-light-1: #fc7279;
$color-red-light-2: #f94952;
$color-red-1: #ed1c24;
$color-red-dark-1: #c00711;
$color-red-dark-2: #980008;

$color-grey-light-1: #f3f0f0;
$color-grey-light-2: #e3dede;
$color-grey-light-3: #a3a1a1;
$color-grey-1: #8b8687;
$color-grey-dark-1: #333030;

//FONT
$default-font-size: 1.6rem;

//UTILITIES
$border-radius-normal: 3px;
$gutter-default: 2rem;
$section-paddings: 7rem 0;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

