.footer {
    background-color: $color-grey-light-2;
    width: 100%;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
        padding: 10rem 4rem;
    }

    @include respond(phone) {
        padding: 5rem 2rem;
        flex-direction: column;
    }
    
    &__logo-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5rem;

        @include respond(tab-port) {
            margin-right: 2rem;
        }

        @include respond(phone) {
            margin-right: 0;
            margin-bottom: 3rem;
        }
    }

    &__logo-link {
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            height: 12rem;
            width: 12rem;
            background-image: url(../img/logo-dark-grey.png);
            background-size: 100%;
            transition: all .2s;
        }

        &:hover,
        &:active {
            transform: scale(1.1);
        }
    }

    &__logo {
        height: 11rem;
    }

    &__copywrite {
        color: $color-grey-dark-1;
        font-size: $default-font-size;
        margin-top: 2rem;

        @include respond(phone) {
            margin: 2rem 4rem 0 4rem;
            text-align: center;
        }
    }
}