.header {
    position: relative;
    height: 55vh;
    background-size: cover;
    background-position: top;
    overflow: hidden;

    @include respond(tab-port) {
        height: 35rem;
    }

    @include respond(phone) {
        height: 35rem;
    }
  
    &--services {
        background-image: linear-gradient(rgba($color-white, .3), rgba($color-white, .3)), url(../img/clinic-3-min.jpg);
    }

    &--about-us {
        background-image: linear-gradient(rgba($color-white, .3), rgba($color-white, .3)), url(../img/about-us-min.jpg);
    }

    &--contacts {
        background-image: linear-gradient(rgba($color-white, .3), rgba($color-white, .3)), url(../img/contact-us.jpg);
    }

    &__container {
        position: absolute;
        float: right;
        top: 0;
        right: 10rem;
        height: 83%;
        background-image: linear-gradient(to right, rgba($color-white, .95), rgba($color-white, .95));
        border-bottom-left-radius: $border-radius-normal;
        border-bottom-right-radius: $border-radius-normal;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        animation: moveFromTop 1s ease-out;

        @include respond(tab-land) {
            height: 78%;
            right: 7rem;
        }

        @include respond(tab-port) {
            padding: 2rem;
        }

        @include respond(phone) {
            right: 50%;
            transform: translateX(50%);
            animation: moveFromTopForHeaderOnPhone 1s ease-out;
            min-width: 230px;
        }
    }

    &__title {
        flex: 0 0 90%;
        display: flex;
        align-items: center;
    }
    
    &__text-box {
        font-size: 2rem;
        text-transform: uppercase;

        @include respond(tab-land) {
            font-size: $default-font-size;
        }
    }

    &__phone {
        text-decoration: none;
        font-size: 2rem;
        color: $color-grey-dark-1;

        @include respond(tab-land) {
            font-size: $default-font-size;
        }
    }

    &__icons-list {
        position: absolute;
        top: 3rem;
        right: 3.1rem;
        z-index: 2;

        animation: appear 1.5s linear;

        @include respond(tab-land) {
            top: 2rem;
            right: 2rem;
        }

        @include respond(phone) {
            width: fit-content;
            top: 29rem;
            left: 50%;
            transform: translate(-50%);
            float: left;
        }
    }

    &__icon-item {
        list-style: none;
        display: block;
        height: 3.8rem;
        width: 3.8rem;
        border-radius: 10rem;
        background-image: linear-gradient(rgba($color-white, .8), rgba($color-white, .8));
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        text-align: center;
        transition: all .2s;

        &:hover,
        &:active {
            transform: scale(1.2);
        }

        @include respond(tab-land) {
            height: 2.8rem;
            width: 2.8rem;
        }

        @include respond(phone) {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 1rem;
            }            
        }
    }

    &__icon-link {
        &:link,
        &:visited {
            display: block;
            width: 100%;
            text-decoration: none;
            color: $color-grey-dark-1;
            font-size: 2.3rem;

            @include respond(tab-land) {
                font-size: 1.65rem;
            }
        }

        &:hover,
        &:active {
            color: $color-red-1;
        }
    }
}