.container {
    &__photo {
        width: 30rem;
        height: 30rem;
        background-color: $color-white;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;

        @include respond(tab-land) {
            width: 25rem;
            height: 25rem;
        }

        @include respond(tab-port) {
            width: 20rem;
            height: 20rem;
            margin-bottom: 3rem;
        }

        @include respond(phone) {
            width: 15rem;
            height: 15rem;
            margin-bottom: 2rem;
        }

        &--right {
            margin-left: 7rem;

            @include respond(tab-land) {
                margin-left: 5rem;
            }

            @include respond(tab-port) {
                margin-left: 0;
            }
        }
    
        &--left {
            margin-right: 7rem;

            @include respond(tab-land) {
                margin-right: 5rem;
            }

            @include respond(tab-port) {
                margin-right: 0;
            }
        }
    }

    &__text {
        flex: 0 0 60%;
        text-align: center;
    }
}

.photo {
    height: 100%;
    width: auto;
}