.section {
    padding: $section-paddings;

    &--services {

    }

    &--service-doctor {
        background-color: $color-grey-light-1;
    }

    &--about-clinic {

    }
    
    &--achievements {
        background-color: $color-grey-light-1;
    }

    &--map {
        padding: 0;
    }
}

.service__prices {
    margin-bottom: 0 !important;
}