.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--default {
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
    }

    &--small {
        font-size: $default-font-size;
        padding: .8rem 2rem;

        @include respond(tab-land) {
            font-size: 1.2rem;
            padding: .3rem 1.2rem;
        }
    }

    &--tiny {
        font-size: 1.4rem;
        padding: .2rem 1.5rem;
    }

    &--red {
        color: $color-white;
        background-color: $color-red-1;
    }

    &--white {
        color: $color-red-1;
        background-color: $color-white;
    }

    &--white-grey {
        color: $color-grey-1;
        background-color: $color-white;
    }
}

.scroll-up {
    position: fixed;
    z-index: 9999;
    bottom: $gutter-default;
    right: $gutter-default;
    border: .6rem solid $color-grey-dark-1;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;

    @include respond(tab-land) {
        width: 5rem;
        height: 5rem;
        border: .6rem solid $color-grey-dark-1;
    }

    @include respond(tab-port) {
        bottom: 1.5rem;
        right: 1.5rem;
        width: 5rem;
        height: 5rem;
        border: .5rem solid $color-grey-dark-1;
    }

    @include respond(phone) {
        width: 4.5rem;
        height: 4.5rem;
        border: .5rem solid $color-grey-dark-1;
    }

    &__icon {
        font-size: 4rem;

        @include respond(tab-land) {
            font-size: 3.6rem;
        }

        @include respond(tab-port) {
            font-size: 3.8rem;
        }

        @include respond(phone) {
            font-size: 3.4rem;
        }
    }
}