.service-box {
    display: flex;
    width: 50%;
    min-width: 45rem;
    margin-bottom: 6rem;
    align-items: center;

    @include respond(tab-land) {
        min-width: 30rem;
    }

    @include respond(phone) {
        width: 100%;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img-field {
        flex: 0 0 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        background-image: linear-gradient(to right bottom, $color-red-light-1, $color-red-light-2);
        text-align: center;
        position: relative;

        @include respond(tab-land) {
            width: 10rem;
            height: 10rem;
        }
    }

    &__icon {
        display: block;
        font-size: 6.6rem;
        color: $color-white;
        @include absoluteCenter;

        @include respond(tab-land) {
            font-size: 5.8rem;
        }
    }

    &__text-field {
        margin: 0 5rem 0 1rem;
        width: 100%;
        padding-bottom: .5rem;

        @include respond(phone) {
            margin: 0 1rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 600;
            color: $color-grey-dark-1;
            transition: all .2s;

            @include respond(tab-land) {
                font-size: 1.7rem;
            }
        }

        &:hover,
        &:active {
            background-image: linear-gradient(to right bottom, $color-red-light-1, $color-red-light-2);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

.jumping-card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;   
    border-radius: .6rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    margin: 0 2rem 5rem 2rem;
    transition: all .2s;

    @include respond(phone) {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1rem);
        box-shadow: 0 3rem 5rem rgba($color-black, .2);
    }

    &--red {
        background-image: linear-gradient(to right bottom, $color-red-light-1, $color-red-light-2);
    }

    &--grey {
        background-image: linear-gradient(to right bottom, $color-grey-light-3, $color-grey-1);
    }

    &__img-box {
        margin-bottom: auto;
    }

    &__img {
        height: 15rem;
        border-radius: 50%;
        margin: 2.5rem 2.5rem 1.5rem 2.5rem;
    }

    &__icon-box {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        margin: 2.5rem 2.5rem 1.5rem 2.5rem;
        background-color: $color-white;
        position: relative;
    }

    &__icon {
        font-size: 9rem;
        color: $color-grey-1;
        display: block;
        position: absolute;
        @include absoluteCenter;
    }

    &__text-box {
        padding: 0 2rem 2.5rem 2rem;
        text-align: center;
    }

    &__text {
        &,
        &:link,
        &:visited {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $default-font-size;
            color: $color-white;
            border: 1px solid transparent;
            border-radius: 10rem;
            transition: all .2s;    

        }

        &:hover,
        &:active {
            border: 1px solid $color-white;
        }
    }

    &__name {
        width: 100%;
        text-transform: uppercase;
        font-size: $default-font-size;
        color: $color-white;
    }
}

.workdays {
    &__container {
        display: flex;
        padding: 0 3rem;
        justify-content: center;
        align-items: center;

        @include respond(tab-port) {
            flex-wrap: wrap;
        }

        @include respond(phone) {
            padding: 0 1rem;
        }
    }

    &__day {
        background-image: linear-gradient(to bottom, $color-grey-light-3, $color-grey-1);
        margin: 0 1rem 3rem 1rem;
        width: 14rem;
        border-radius: $border-radius-normal;
        box-shadow: 0 1rem 2rem rgba($color-black, .3);

        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-land) {
            width: 12%;
            
        }

        @include respond(tab-port) {
            width: 12rem;
        }

        @include respond(phone) {
            width: 9rem;
            margin-bottom: 1rem;
        }
    }

    &__letter {
        color: $color-grey-1;
        font-size: 6rem;
        line-height: 1.6;
        font-weight: 600;
        text-align: center;
        background-color: $color-white;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        margin: 2rem;

        @include respond(tab-land) {
            font-size: 4.5rem;
            width: 7rem;
            height: 7rem;
        }

        @include respond(phone) {
            font-size: 3rem;
            width: 5rem;
            height: 5rem;
            margin: 1rem;
        }
    }

    &__hours {
        font-size: 2rem;
        color: $color-white;
        margin-bottom: 1.5rem;

        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        @include respond(phone) {
            margin-bottom: 1rem;
        }
    }
}

.google-map {
    width: 100%;
    height: 45rem;
}