.price-list {
    list-style: none;

    &__item {
        background-image: linear-gradient(120deg, $color-white 0%, $color-white 80%, $color-red-light-1 80%, $color-red-light-2 100%);
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
        display: flex;
        align-items: center;
        border-radius: $border-radius-normal;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        @include respond(tab-port) {
            background-image: linear-gradient(120deg, $color-white 0%, $color-white 75%, $color-red-light-1 75%, $color-red-light-2 100%);
        }

        @include respond(phone) {
            background-image: linear-gradient(110deg, $color-white 0%, $color-white 70%, $color-red-light-1 70%, $color-red-light-2 100%);
        }
    }

    &__text {
        flex: 0 0 77%;
        margin: 2rem 0 2rem 4rem;
        font-size: $default-font-size;
        text-transform: uppercase;

        @include respond(tab-port) {
            flex: 0 0 70%;
        }

        @include respond(phone) {
            flex: 0 0 65%;
            margin: 2rem 0 2rem 2rem;
        }
    }

    &__price {
        flex: 1;
        margin: 2rem 0;
        font-size: 2rem;
        text-align: center;
        color: $color-white;
    }
}