.logo {
    &__logo-box {
        position: absolute;
        display: inline-block;
        height: 61vh;
        z-index: 1;
        top: -3vh;
        left: 47%;
        transform: translate(-50%);

        @include respond(tab-land) {
            height: 58vh;
            top: 2vh;
        }

        @include respond(tab-port) {
            left: 38%;
            height: 35vh;
            top: -1.5vh;
        }

        @include respond(phone) {
            height: 14rem;
            left: -1rem;
            top: -1.5rem;
            z-index: 800;
            transform: none;
        }
    }

    &--homepage {
        opacity: .25;
        height: 110%;
        transform: translateY(-3%) rotate(20deg);

        @include respond(tab-port) {
            height: 250%;
            position: absolute;
            top: -1rem;
            left: -1.5rem;
            transform: rotate(10deg);
        }

        @include respond(phone) {
            height: 180%;
            top: -.5rem;
            left: -1rem;
            transform: rotate(10deg);
        }        
    }

    &--header {
        opacity: .3;
        height: 100%;
    }

    &--red {
        width: 100%;
        opacity: .9;
    }

    &--animated {
        animation-name: moveFromLeftWithOpacity;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        &:hover,
        &:active {
            transform: scale()
        }
    }
}