//HEADER NAVIGATION
.nav-header {
    position: absolute;
    bottom: 0;
    z-index: 2;

    @include respond(phone) {
        display: none;
    }

    &__list {        
        list-style: none;
    }

    &__item {
        float: left;
        text-align: center;
        &:not(:first-child) {
            margin-left: 5rem;
            
            @include respond(tab-land) {
                margin-left: 3rem;
            }
        };
        &:first-child {
            margin-left: 4rem;
        }         
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-grey-dark-1;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: .3rem;
        border-bottom: 4px solid transparent;
        transition: all .2s;

        &:hover,
        &:active {
            color: $color-red-1;
            border-bottom: 4px solid transparent;
        }

        &--activated {
            color: $color-red-1;
            border-bottom: 4px solid $color-red-1;
        }

        @include respond(tab-land) {
            font-size: $default-font-size;
        }
    }
}

//FOR STICKY NAVIGATION
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 .5rem 2rem rgba($color-black, .2);
    z-index: 9999;

    &__link {
        margin-top: .5rem;

        &:hover,
        &:active {
            color: $color-red-1;
        }
    }
}

//FOOTER NAVIGATION
.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
        flex-direction: column;
    }

    &__item {
        display: inline-block;
        list-style: none;
        &:not(:last-child) {
            margin-right: 5rem;

            @include respond(tab-port) {
                margin-right: 2rem;
            }

            @include respond(phone) {
                margin-right: 0;
            }
        }
        transition: all .2s;

        &--icon {
            &:not(:last-child) {
                margin-right: 2rem !important;

                @include respond(phone) {
                    margin-right: 0 !important;
                }
            }
        }

        &:hover,
        &:active {
            transform: scale(1.1);
        }

        &--icon {
            &:hover,
            &:active {
                transform: scale(1.2);
            }
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-grey-dark-1;
            font-size: $default-font-size;
            transition: all .2s;
        }

        &--icon {
            &:link,
            &:visited {
                font-size: 2rem !important;
            }                           
        }
    }
}

//NAVIGATION FOR SCREENS WITH MAX-WIDTH 600px
.nav-phone {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: $color-black;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        font-size: 20px;

    }


    &__icon-box {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba($color-grey-1, .6);
        text-align: center;
        z-index: 999;

        @include respond(phone) {
            display: inline-block;
        }

        &--close {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }
    }

    &__icon {
        font-size: 25px;
        color: $color-grey-dark-1;
        transform: translateY(7px);

        &--close {
            font-size: 35px;
            color: $color-white;
        }
    }
}