.popup {
    background: rgba($color-black, .4);
    cursor: pointer;
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    transform: translateX(-$gutter-default);
    z-index: 10000;

    @include respond(tab-port) {
        transform: translateX(-1.5rem);
    }

    @include respond(phone) {
        transform: none;
    }

    &__container {
        @include absoluteCenter;
        background-color: $color-white;
        border-radius: $border-radius-normal;
        overflow: hidden;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        
        @include respond(tab-land) {
            width: 80%;
        }

        @include respond(tab-port) {
            width: 90%;
        }

        @include respond(phone) {
            height: fit-content;
            max-height: 90%;
            padding: 2rem 0;
        }

        &--person {
            display: flex;          
            width: 60%;

            @include respond(tab-land) {
                width: 80%;
            }

            @include respond(tab-port) {
                width: 90%;
                height: 50%;
            }

            @include respond(phone) {
                height: fit-content;
                max-height: 90%;
                display: block;
            }
        }
    }

    &__close-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        color: $color-grey-1;

        @include respond(phone) {
            top: 1rem;
        }
    }

    &__img-container {
        width: 40%;
        background-image: url(../../img/doctor-big-f-1.jpg);
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        display: flex;
        align-items: center;

        @include respond(phone) {
            display: none;
        }
    }

    &__img {
        height: 100%;
    }

    &__text-container {
        margin: 5rem 6rem;
        align-self: center;

        @include respond(tab-port) {
            margin: 2rem;
        }

        @include respond(phone) {
            display: block;
            margin: 0 2rem;
        }
    }

    &__text {
        font-size: $default-font-size;
        text-align: center;
        margin: 0 3rem 3rem 3rem;
    }

    &__list {
        list-style: none;
        margin-top: 3rem;

        @include respond(tab-port) {
            margin-top: 1rem;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__item {
        font-size: 1.6rem;

        @include respond(phone) {
            font-size: 1.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;

            @include respond(tab-port) {
                margin-bottom: 0;
            }
        }
        &--small {
            font-size: 1.4rem;
            margin: 0 0 .5rem 2rem;

            @include respond(tab-port) {
                margin: 0 0 0 2rem;
            }
        }
    }    

    &__title {
        font-size: 3.5rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        margin: 4rem 0;

        @include respond(phone) {
            margin: 2rem 0;
        }
    }

    &__table {
        width: 100%;
    }
}

.trigger__popup {
    cursor: pointer;
}