.table {
    &__row {
        &:not(:last-child) {
            
        }
    }

    &__header {
        font-size: $default-font-size;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1rem 2rem;
        width: 16.5rem;
    }

    &__data {
        font-size: $default-font-size;
        border: 1px solid $color-grey-light-3;

        &--works {
            background-color: $color-red-light-1;
        }

        &--free {
            
        }
    }
}