@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromLeftWithOpacity {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: .8;
        transform: translateX(0);
    }
}

@keyframes moveFromBottomWhenCentered {
    0% {
        opacity: 0;
        transform: translate(-50%, 10%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveFromTopWhenCentered {
    0% {
        opacity: 0;
        transform: translate(-50%, -90%);
    }
    100% {
        opacity: 1;
        transform: translateY(50%, -50%);
    }
}

@keyframes moveFromTopForHeaderOnPhone {
    0% {
        opacity: 0;
        transform: translate(50%, -90%);
    }
    100% {
        opacity: 1;
        transform: translateY(50%, -50%);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}