*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%; // 1rem = 10px;

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px 
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px
    }
}

body {
    box-sizing: border-box;
    padding: $gutter-default;

    @include respond(tab-port) {
        padding: 1.5rem;
    }

    @include respond(phone) {
        padding: 0;
    }
}

.row-flex {
    display: flex;
    flex-wrap: wrap;

    &--center {
        justify-content: center;
    }
}

::selection {
    background-color: $color-red-light-1;
}

a {
    text-decoration: none;
    color: $color-grey-dark-1;
}