body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

h1 {
    color: $color-red-1;
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    
    @include respond(tab-land) {
        font-size: 3rem;
    }
}

.heading-primary {
    &__special {
        font-size: 4.8rem;
        letter-spacing: .3rem;
        border-bottom: 2px solid $color-red-1;
        padding-bottom: 1.8rem;

        @include respond(tab-land) {
            font-size: 4rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-red-1;
        }
    }

    &--big {
        font-size: 5.5rem;
    }
}

h2 {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;

    &--white {
        color: $color-white;
    }

    @include respond(tab-port) {
        font-size: 3.5rem;
    }
}

h3 {
    color: $color-red-1;
    font-size: 3rem;
    font-weight: 300;

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

h4 {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 300;

    @include respond(tab-port) {
        font-size: 3.2rem;
    }
}

h5 {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300;
}

h6 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 400;
}

.paragraph {
    font-size: $default-font-size;

    @include respond(phone) {
        margin: 0rem 1rem;
    }
}