//TEXT
.u-center-text { text-align: center !important; }

//BORDERS
.u-border-small { border-bottom: 1px solid $color-red-1 !important; }

//MARGINS
.u-margin-top-tiny { margin-top: 1rem !important; }
.u-margin-top-small { 
    margin-top: 2rem !important; 

    @include respond(tab-land) {
        margin-top: 1rem !important;
    }
}
.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-top-large { margin-top: 8rem !important; }
.u-margin-top-auto { margin-top: auto !important; }

.u-margin-bottom-tiny { margin-bottom: 1rem !important; }
.u-margin-bottom-small { margin-bottom: 2rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-large { margin-bottom: 7rem !important; }

//FLEX ALIGNMENT
.flex {
    &--align-items {
        align-items: center;
        justify-content: center;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &--switch-direction {
        @include respond(tab-port) {
            flex-direction: column-reverse;
        }        
    }
}