.contacts {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
        flex-direction: column;       
    }
}

.contact {
    width: 35rem;
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 6px;
    box-shadow: 0 1rem 2rem rgba($color-black, .3);

    @include respond(phone) {
        &:not(:last-child) {
            margin-bottom: 5rem;
        }    
    }

    &--left {
        margin-right: 3rem;

        @include respond(tab-port) {
            margin-right: 2rem;
        }

        @include respond(phone) {
            margin-right: 0;
        }
    }

    &--email {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }

    &__text {
        width: 35rem;
        border-radius: 6px;
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
        text-align: center;
        padding: 2rem 3rem;
    }

    &__paragraph {
        text-decoration: none;
        color: $color-grey-dark-1;
        font-size: 2rem;

        &:not(:last-child){
            margin-bottom: 1.5rem;
        }

        &--red {
            color: $color-red-dark-1;
        }
    }

    &__icon {
        margin-right: 2rem;
    }
}

.map {
    width: 100%;
    height: 40rem;
}