.section-homepage {
    @include clearfix;
}

.clinic {
    position: relative;
    overflow: hidden;

    @include respond(tab-port) {
        height: 94vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: top;
        background-image: linear-gradient( 
            rgba($color-white, .3),
            rgba($color-white, .3)),
            url(../img/clinic-1-min.jpg);
    }

    @include respond(phone) {
        height: 100vh;
    }

    &__container {
        height: 94vh;
        width: calc((100% - #{$gutter-default}) / 2);      
        float: left;
        background-size: cover;
        background-position: top;
        position: relative;
       
        &:not(:last-child) {
            margin-right: $gutter-default;

            @include respond(tab-port) {
                margin-right: 1.5rem;
            }

            @include respond(phone) {
                margin-right: 0;
            }
        }

        @include respond(tab-port) {
            width: 100%;
            height: 30rem;
        }

        &--left {
            background-image: linear-gradient( 
                rgba($color-white, .3),
                rgba($color-white, .3)),
                url(../img/clinic-1-min.jpg);

                @include respond(tab-port) {
                    background-image: none;
                }
        }

        &--right {
            background-image: linear-gradient(
                rgba($color-white, .3),
                rgba($color-white, .3)), 
                url(../img/clinic-2-min.jpg);

                @include respond(tab-port) {
                    background-image: none;
                    margin-bottom: 3rem;
                }
        }
    }
  
    &__text-box {
        @include absoluteCenter;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background-image: linear-gradient(rgba($color-white, .94), rgba($color-white, .94));
        border-radius: $border-radius-normal;
        padding: 2rem 2.5rem 3rem 2.5rem;
        min-height: 265.4px;
        min-width: 329.7px;
        z-index: 3;

        @include respond(tab-land) {
            padding: 1rem 1.5rem 2rem 1.5rem;
            min-height: 228.6px;
            min-width: 210.4px;
        }

        @include respond(tab-port) {
            width: 30rem;
            min-height: fit-content;
        }
        
        &--left {
            animation-name: moveFromBottomWhenCentered;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
        }

        &--right {
            animation-name: moveFromTopWhenCentered;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: both;
        }
    }

    &__paragraph-box {
        margin-bottom: 1rem;
        padding: 0 1rem;

        @include respond(tab-land) {
            padding: 0;
        }
    }

    &__icon {
        font-size: 1.8rem;
        display: inline-block;
        color: $color-red-1;
        margin-right: 1.5rem;
    }

    &__paragraph {
        text-decoration: none;
        font-size: 1.8rem;
        color: $color-grey-dark-1;
        display: inline-block;
    }
}

.homepage {
    &__logo-box {
        position: absolute;
        height: 94vh;
        z-index: 2;

        left: 50%;
        transform: translateX(-50%);

        @include respond(tab-port) {
            position: relative;
            height: 11rem;
            z-index: 3;
        }
    }
}